    html,body,#docker,#membre,#ebook,#audios,#videos,.swi,#mainVid,#mainEb,#mainAud,#vidCont,#cinCont,#audCont,#subAudCont,#ebCont,#subEbCont {
      width: 100%;
    }
    h3 {
      text-align: center;
    }
    #cinCont, #docCont, #oeuvCont {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .mdl-layout__tab-panel {
      background-color: #F5F5F5 !important;
    }

    .card-inline {
      display: inline-block !important;
      margin-left: 5%;
    }

    .demo-card-wide.mdl-card {
      width: 40%;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 176px;
    }
    .demo-card-wide > .mdl-card__titleCi {
      background: url('../images/film.jpg') center / cover;
    }
    .demo-card-wide > .mdl-card__titleDo {
      background: url('../images/doc.jpg') center / cover;
    }
    .demo-card-wide > .mdl-card__titleOe {
      background: url('../images/oeuvre.jpg') center / cover;
    } 
    .demo-card-wide > .mdl-card__titleAu {
      background: url('../images/song.jpg') center / cover;
    }
    .demo-card-wide > .mdl-card__titleEb {
      background: url('../images/book.jpg') center / cover;
    }       
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
    .mdl-card__title-text {
      background-color: rgba(0,0,0,0.5);
      padding: 5px;
    }
    #contLogo {
      width: 200px;
    }
    #login {
      position: absolute;
      right: 50px
    }
    #btnLog {
      display: none;
    }
    @media screen and (max-width: 1025px) {
      #contLogo {
        width: 100px;
        margin-top: -50px;
      }
      #btnLog {
        display: block;
        position: absolute; 
        top: 15px; 
        right: 15px;
      }
    }
    @media screen and (max-width: 620px) {
      #cinCont, #docCont, #oeuvCont {
        padding-left: 2%;
        padding-right: 2%;
      }
      .demo-card-wide.mdl-card {
        width: 96%;
      } 
    .card-inline {
      display: block !important;
      margin-left: 0;
    }           
    }  
    
    #mSpace {
      height: 800px;
    }
    #topSpace {
      width: 100%;
      height: 65%;
    }
    #rightSpace {
      width: 49%;
      height: 95%;
      float: left;
    }
    #leftSpace {
      width: 48%;
      height: 95%;
      float: left;
      padding: 1%;
    }
    #botSpace {
      width: 100%;
      height: 35%;
    }
    #favCont {
      background-color: white;
      width: 100%;
      height: 100%;
    }
    #infoCont {
      background-color: white;
      width: 100%;
      height: 48.5%;
      margin-top: 2%;
      padding-left:20px;
    }
    #histoCont {
      background-color: white;
      width: 100%;
      height: 48.5%;
      margin-top: 2%
    }
    #uplCont {
      background-color: white;
      width: 98%;
      height: 100%;  
      margin: auto;    
    }
    #postFile{
      margin-top: 30px
    }
    .wrappUpl {
      width: 33%;
      height: 100%; 
      float: left;
    }

    @media screen and (max-width: 940px) {
      #mSpace {
        height: 1600px;
      }
      #topSpace {
        width: 100%;
        height: 1000px;
        margin-bottom: 60px;
      }
      #rightSpace {
        width: 98%;
        height: 500px;
        float: none;
      }
      #leftSpace {
        width: 98%;
        height: 500px;
        float: none;
        padding: 0;
      }
      #botSpace {
        width: 100%;
        height: 600px;
      }
      #favCont {
        background-color: white;
        width: 100%;
        height: 500px;
      }
      #infoCont {
        background-color: white;
        width: 100%;
        height: 250px;
        margin-top: 20px;
        padding-left:20px;
      }
      #histoCont {
        background-color: white;
        width: 100%;
        height: 250px;
        margin-top: 2%
      }
      #uplCont {
        background-color: white;
        width: 98%;
        height: 500px;
        margin-top: 0;    
        margin-left: 0;
        margin-bottom: -60px;
      }
      .wrappUpl {
        width: 98%;
        height: 33%; 
        float: none;
      }
      .emGrBt {
         margin-left: 20px;
      }
  }

    .weiLight {
      font-weight: normal;
    }

.hideIfDesign {
  display: none;
}

    #cnxPage {
      position: absolute;top:0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.8);z-index: 999999999;display: none;
    }
    .cnxWrapp {
      position: relative;margin: auto;width: 33%;height: 30%;
    }
    #cnxCard {
      position: relative;margin: auto;width: 33%;height: 40%;background-color:white 
    }
    @media screen and (max-width: 1025px) {
      #cnxCard {
        width: 65%
      }
    }
    @media screen and (max-width: 620px) {
      #cnxCard {
        width: 90%
      }
    }

  .mdl-description {
    height: 50px;
    max-height: 50px;
    min-height: 50px;
  }
  .mdl-card-margin {
    margin-bottom: 30px;
  }

                #wrappVid {
                width: 100%;height: 700px;
              }
              #contSVid {
                width: 100%; height: 100%
              }
              .subCSV {
                width: 47%;height: 100%; float: left;
              }
              #subCSV1{
                margin-left: 50px;
              }
                #subCSV1, #subCSV2{
                  margin-bottom: 150px;
                }
              @media screen and (max-width: 1220px) {
                #wrappVid {
                  width: 100%;height: 1000px;
                }
                #contSVid {
                  width: 100%; height: 100%;
                }
                .subCSV {
                  width: 95%;height: 500px; float: none;
                }
                #subCSV1, #subCSV2{
                  margin-left: auto;
                  margin-bottom: -50px;
                }
              }

        /* espage d'administration */

  .centitre {
    text-align: center;
  }
  #espA1 {
    width: 100%;height: 700px;margin-bottom: 200px !important;
  }
  .espA2 {
    width: 100%; height: 50%;
  }
  .espA3 {
    height: 97%; width: 47%;float: left;padding: 15px;
  }
  .espA4 {
    height: 80%;width: 100%;background-color: white;overflow: auto;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
  }
  .espA5 {
    height: 98%;width: 48%;float: left;margin-bottom:-150px;
  }
  .espA5btn {
    margin-top:50px;
  }
  @media screen and (max-width: 1033px) {
    #espA1 {
      width: 100%;height: 1200px;margin-bottom: 200px !important;
    }

    .espA3 {
      height: 48%;width: 98%;float: none;
    }   
     .espA5 {
      margin-bottom: 1px;
    } 
    #gFich {
      margin-top: 100px;
    }
  }

  /* message d'alert */

  #message {
    width: 300px !important;height: 50px !important;background-color : #CCE5FF !important;color: #00408D !important; position: absolute !important;top: 200px !important; z-index: 99999999 !important;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: 40%;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #00408D;    
  }